---
import MainLayout from "@/layouts/MainLayout.astro";
import { unvdisplaydata } from "../data/camera";
const pageTitle: string = "UNV Smart Interactive Display";
interface Props {
  title: string;
  subTitle?: string;
  benefits?: Array<string>;
}
const description =
  "Find the best touch screen board for teaching price! Lovosis Technology LLC, Dubai, offers UNV Smart Interactive Panels & LCD video walls. Transform your classroom today!";
const abtitle: string = "UNV Smart Interactive Display";
const absubTitle: string =
  "Experience the future of interactive learning with our UNV smart interactive display models";

const structuredData = {
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      name: "Lovosis Technology L.L.C",
      url: "https://lovosis.com",
      logo: "https://lovosis.come.com/pictures/logo.png",
      description: description,
      sameAs: [
        "https://www.facebook.com/p/LOVOSIS-TECHNOLOGY-100083060600975/",
        "https://www.instagram.com/_lovosis_group_of_companies_/reels/",
      ],
      email: "sales@lovosis.com",
      telephone: "+971509162488",
      address: {
        "@type": "PostalAddress",
        streetAddress:
          "Satellite Market Naif Deira,Baghlaf Building Showroom No.5",
        addressLocality: "Dubai",
        addressCountry: "AE",
        addressRegion: "Dubai,United Arab Emirates",
        postalCode: "123421",
      },
    },
    {
      "@type": "WebPage",
      name: "Unv Interactive panel | Lovosis Technology",
      url: "https://lovosis.com/unvdisplay",
      description: description,
    },
    {
      "@type": "BreadcrumbList",
      "@id": "https://lovosis.com/#breadcrumb",
      itemListElement: [
        {
          "@type": "ListItem",
          position: 1,
          item: {
            "@id": "https://lovosis.com",
            name: "Home",
          },
        },
        {
          "@type": "ListItem",
          position: 2,
          item: {
            "@id": "https://lovosis.com/unvdisplay",
            name: "Unv Display",
          },
        },
      ],
    },
    {
      "@type": "ItemList",
      itemListElement: unvdisplaydata.map((p) => ({
        "@type": "ListItem",
        position: p.id,
        item: {
          "@type": "Product",
          name: p.title,
          description: p.description,
          image: `${Astro.url}${p.image}`,
          review: {
            "@type": "Review",
            author: {
              "@type": "Person",
              name: p.author,
            },
            reviewRating: {
              "@type": "Rating",
              ratingValue: 4,
              bestRating: 5,
            },
          },
          brand: {
            "@type": "Brand",
            name: "UNV",
          },
        },
      })),
    },
  ],
};
---

<style>
  .autoRotate {
    animation: autoRotateAnimation;
    animation-timeline: view();
  }
  @keyframes autoRotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
  }

  @keyframes autoShowAnimation {
    from {
      opacity: 0;
      transform: translateY(200px) scale(0.3);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .fadeInRight {
    animation: fadeInRightAnimation;
    animation-timeline: view();
  }

  @keyframes fadeInRightAnimation {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>

<MainLayout title={pageTitle} sd={structuredData} description={description}>
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div
      class="mb-20 rounded-2xl bg-gray-100 p-5 text-center dark:bg-neutral-500 md:p-12"
    >
      <h1
        class="animate-fade-in-left text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-100 md:text-6xl md:leading-tight"
      >
        {abtitle}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-200">
        {absubTitle}
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
      <div class="bg-white shadow-xl">
        <img
          src="/pictures/unv/display.png"
          ,
          alt="interactive display"
          class="h-full w-full object-contain"
        />
        <p class="mt-4 text-center text-2xl font-bold">MW3575-U-CE</p>
      </div>
      <div class="bg-white shadow-xl">
        <img
          src="/pictures/unv/interactivepanel.jpg"
          ,
          alt="interactive panel"
          class="h-full w-full object-contain"
        />
        <p class="mt-4 text-center text-2xl font-bold">MW3575-U-CE</p>
      </div>
      <div class="bg-gray-100 shadow-xl">
        <img
          src="/pictures/unv/icdwalls.png"
          ,
          alt="Lcd walls"
          class="h-full w-full object-contain"
        />
        <p class="mt-4 text-center text-2xl font-bold">MW3575-U-CE</p>
      </div>
      <div class="bg-white shadow-xl">
        <img
          src="/pictures/unv/leddisplay.jpg"
          ,
          alt="Led display"
          class="h-full w-full object-contain"
        />
        <p class="mt-4 text-center text-2xl font-bold">MW3575-U-CE</p>
      </div>
    </div>
    <div class="mb-5 mt-32 rounded-2xl text-center">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">
        Lovosis Technology LLC, Dubai, is the authorized distributor of UNV
        Smart Interactive Panels
      </h2>
    </div>
    <div class="mx-auto max-w-7xl dark:text-gray-200">
      <strong>UNV Smart Interactive Panels</strong> are designed to transform the
      way you teach, learn, and collaborate. With advanced features like ultra-responsive
      touch screen technology, crystal-clear interactive display, and seamless integration
      with modern teaching tools,<strong>UNV panels</strong> are the ultimate solution
      for educators and professionals alike.
    </div>
    <div class="mb-5 mt-16 rounded-2xl text-center">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">
        Why Choose UNV Smart Interactive Panels?
      </h2>
    </div>
    <div class="mx-auto max-w-7xl dark:text-gray-200">
      <strong>1: High-Resolution Interactive Display:</strong>
      <li>
        Enjoy stunning visuals with 4K UHD resolution, perfect for engaging
        students or presenting detailed data
      </li>
      <strong>2: Multi-Touch Capability</strong>
      <li>
        Up to 20-point touch support for seamless collaboration and interaction.
      </li>
      <strong>3: Built-In Android and Windows Compatibility</strong>
      <li>Easily switch between platforms for maximum flexibility.</li>
      <strong>Long-Lasting Durability</strong>
      <li>
        Designed for heavy daily use, ensuring reliability for years to come
      </li>
      <strong>Easy-to-Use Interface</strong>
      <li>
        Intuitive controls make it simple for teachers and presenters to get
        started.
      </li>
    </div>
    <div class="mx-auto mt-20 max-w-7xl px-4 sm:px-6 lg:px-8 lg:py-1">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">
        <div class="mb-5 mt-16 rounded-2xl text-center">
          Latest Products from Lovosis Technology
        </div>
      </h2>
      <ul id="cards" class="grid list-none grid-cols-1 grid-rows-4 gap-4">
        {
          unvdisplaydata.map((item) => (
            <li class="card sticky top-32 cursor-pointer rounded-lg bg-white pt-4 shadow-xl transition-all duration-300 dark:bg-neutral-600">
              <div class="card__content relative grid grid-cols-1 gap-1 rounded-lg p-5 text-left md:grid-cols-2">
                <div>
                  <h2 class="text-4xl font-light dark:text-neutral-200">
                    {item.title}
                  </h2>
                  <p class="text-base font-light leading-normal dark:text-neutral-300">
                    {item.description}
                  </p>
                </div>
                <div class="self-end">
                  <figure class="h-64 overflow-hidden">
                    <img
                      src={item.image}
                      alt={item.title}
                      class="h-full w-full object-contain"
                    />
                  </figure>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="mb-5 mt-16 rounded-2xl text-center">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">
        Why Lovosis Technology LLC?
      </h2>
    </div>
    <div class="mx-auto max-w-7xl dark:text-gray-200">
      As the <strong
        >authorized distributor of UNV Smart Interactive Panels in Dubai</strong
      >, we pride ourselves on delivering top-quality products and exceptional
      customer service. Our team of experts is here to help you choose the right
      solution for your needs and provide ongoing support to ensure your
      satisfaction
    </div>
    <div class="mb-5 mt-16 rounded-2xl text-center">
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">
        Get Started Today!
      </h2>
    </div>
    <div class="mx-auto max-w-7xl dark:text-gray-200">
      <p>
        Ready to take your teaching or presentations to the next level? Explore
        our range of interactive panels, smart boards, and LCD video walls
        today. Contact Lovosis Technology LLC for more information or to request
        a demo.
      </p>

      <div
        class="mb-20 mt-8 rounded-2xl bg-gray-100 p-5 text-center dark:bg-neutral-500 md:p-12"
      >
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="lg:text-center">
            <p
              class="max-w-2xl text-xl text-gray-500 dark:text-neutral-300 lg:mx-auto"
            >
              Get in touch with us for any inquiries, collaborations, or
              support. We're here to assist and answer your questions!
            </p>
          </div>

          <div class="mt-10">
            <div
              class="items-center justify-center space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0"
            >
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white"
                  >
                    <!-- Heroicon name: phone -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <p class="mt-2 text-base text-gray-500 dark:text-neutral-300">
                    +971509162488
                  </p>
                </div>
              </div>

              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white"
                  >
                    <!-- Heroicon name: mail -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <p class="mt-2 text-base text-gray-500 dark:text-neutral-300">
                    sales@lovosis.com
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
